<div class="wrapperFooter">
    <footer id="footer">
        <div class="itemFooter">
            <div>
                <img src="{{ 'assets/images/mainPage/Logo.png'|theme }}" alt="">
            </div>
            <p class="WrapperTextFooter">
                <a href="">2020 © Плюс один</a>
            </p>
            <p class="WrapperTextFooter">
                <a href="">ИНН 123456789</a>
                <a href="">ОГРН 123456789</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Политика <br /> конфиденциальности</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Политика <br />Согласие на обработу <br /> персональных данных</a>
            </p>
        </div>



        <div class="itemFooter">
            <div>
                <p class="textTitleFooter">Для женщин</p>
            </div>

            <p class="WrapperTextFooter">
                <a href="">Я беременна?</a>
            </p>
            <p class="WrapperTextFooter">
                <a href="">Что мне делать?</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">У меня<br /> трудности</a>
            </p>
            <p class="WrapperTextFooter">
                <a href="">Живые истории</a>
            </p>
            </p>




        </div>


        <div class="itemFooter">
            <div>
                <p class="textTitleFooter">Для специалистов</p>
            </div>

            <p class="WrapperTextFooter">
                <a href="">Информация для <br/> специалистов</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Новости, афиши</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Полезные <br/> материалы</a>
            </p>
        </div>

        <div class="itemFooter">
            <div>
                <p class="textTitleFooter">Для каждого</p>
            </div>

            <p class="WrapperTextFooter">
                <a href="">Тематические <br/> статьи</a>
            </p>
            <p class="WrapperTextFooter">
                <a href="">Новости, афиши</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Полезные <br/> материалы</a>
            </p>


        </div>
        <div class="itemFooter">
            <div>
                <p class="textTitleFooter">О проекте</p>
            </div>

            <p class="WrapperTextFooter">
                <a href="">Общая <br/> информация</a>
                <a href="">Стать <br/> волонтером <br/> проекта</a>
            </p>
            <p class="WrapperTextFooter">
                <a href="">Контакты</a>
            </p>

            <p class="WrapperTextFooter">
                <a href="">Нормативно<br/> правовая база</a>
            </p>
        </div>

        <div class="itemFooter">
            <div class="fD_mP">

                <a class="PhoneTitleFooter" href="tel:88001234567">8 (800) 123-45-67</a>
                <a class="EmailComponentCSS" href="">info@mail.ru</a>
            </div>


            <div class="SEtiSEO">
                <div class="SEtiSEO_0"></div>
                <div class="SEtiSEO_0"></div>
                <div class="SEtiSEO_0"></div>
                <div class="SEtiSEO_0"></div>
            </div>


        </div>



    </footer>
</div>
