<header>
    <div class="header">
        <div class="header__left">
            <a href="{{ 'mainPage' | page }}" class="logo">
                <img src="{{ 'assets/images/mainPage/Logo.png'|theme }}" alt="" />
            </a>
            <div class="search">
                <div class="search__icon">
                    <img src="{{ 'assets/images/mainPage/searchIcon.svg'|theme }}" alt="" />
                </div>
                <input type="search" placeholder="Поиск по сайту" />
            </div>
        </div>

        <div class="header__right homeMenu _anim-items" id="rightHeader">
            <nav class="navLinks">
                <a href="#" class="link">Для женщин</a>
                <a href="{{ 'professional' | page }}" class="link">Для специалистов</a>
                <a href="#" class="link">Для каждого</a>
                <a href="{{ 'about' | page }}" class="link">О проекте</a>
            </nav>
            <div class="sandwich">
                <img src="{{ 'assets/images/mainPage/Sandwich.png'|theme }}" alt="" />
            </div>
        </div>
    </div>
</header>