[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "statya-chto-mne-delat"
postsPerPage = 4
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "article"
postPage = "article"
==
{% set posts = blogPosts.posts %}
{% for post in posts %}
{% for image in post.featured_images|slice(0,1) %}
<a
        href="{{post.url}}"
        class="secondSlide__main__questionBlock firstBackground"
        style='background-image: url({{ image.path }});'
>
    <p>{{post.title}}</p>
</a>

{% endfor %}
{% endfor %}
