.actualBlock__sliders__slide {
    display: block !important;
    width: 189px !important;
    max-width: 189px !important;
    min-width: 189px !important;
    height: 155px !important;
    margin-right: 64px !important;
}
.actualBlock__sliders__slide p:after {
display: none;
}
.bookBy_0{
    background: #fff;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 11px;
}
.bookBy_0 img{
    height: 164px;
    width: 124px;
}
.actualBlock__sliders.background__Ping{
    border-radius: 0px !important;
}
.textForBook_0{
    font-family: Montserrat !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 18px !important;
    color: #002E42 !important;
    padding-left: 14px !important;
    margin: 0 !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    padding-right: 14px !important;
}
.actualBlock__sliders__slide{
    border-radius: 0px 0px 10px 10px;
}