body {
    margin: 0;
    padding: 0;

}
.topContent{
    padding-top: 147px !important;
    position: relative;
  }
  .boxFor1SectionDiv{
    background: linear-gradient(180deg, #B4E8FF 0%, #FFD5DE 100%);
    overflow: hidden;
  }
  .boxFor1SectionDiv2{
    background: linear-gradient(180deg, #FFD5DE 0%,  #B4E8FF 100%);
    margin-top: -35px;
  }

#sec_2 .tittleTextS{
    max-width: 500px;
    margin-bottom: 85px;
    margin-top: 44px;
}



.felxForLinks_S{
display: flex;
margin-top: 53px;
}
.itemForLinks_S{
    width: 33.3%;
}

.textForTowns{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 33px;
display: flex;
align-items: center;
text-decoration-line: underline;
color: #002E42;
}
.textForTowns a{
    color: #002E42; 
}
#sec_4 .tittleTextS{
    max-width: 603px;
}
.topContent{
    display: flex;
}

.topContent .d_0:first-child{
    width: 472px;
}


.h1Help{
    margin-bottom: 69px !important;
    margin-top: 125px !important;
}

.textForLink{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #002E42;
}

.itemInpustS{
    width: 100% !important;
    margin-right: 0px !important;
}
.itemInpustS textarea{
    background-color: #002e4200;
}
.rightForm form{
    width: max-content;
}
.flexForm .rightForm {
    background-color: #fff0 !important;
}
.d_0_link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

.d_0:last-child{
    width: 1125px;
    height: 540px;
    text-align: center;
}
.d_0:last-child img{
    width: 82%;
    height: 104%;
}



.buttonRequest_S{
    background: #002E42;
    color: #fff;
    border-radius: 3px;
    padding: 17px 54px;
    width: max-content;
    border: none;  
    margin-top: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #fff;
  }
  .flexForm form{
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }

    .imagesWrapper_s{
        width: 100%;
        text-align: center;
        margin-top: -74px;
    }


      .mt0_sd{
          margin-top: 0 !important;
      }



      /* media */
@media (max-width: 1154px){

    .imagesWrapper_s img{
        width: 100%;
        margin-top: 0 !important;
    }

.rightForm form {
    margin: auto;
    width: auto;
}
.itemForLinks_S {
    width: 389px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: auto;
}
.felxForLinks_S {
    columns: 389px 3 !important;
    column-gap: 40px !important;
    display: block !important;
}
.d_0:last-child {
    position: absolute;
}

  }
  @media (max-width: 400px){
    .textForTowns a {
        font-size: 22px;
    }
    .d_0:last-child {
        display: none;
    }
    .h1Help {
        margin-bottom: 69px !important;
        margin-top: 43px !important;
    }
    #sec_2 .tittleTextS {
        padding-top: 50px ;
    }

  }