.boxImages img {
    text-align: center;
    margin: auto;
    width: 100%;
}
.boxImages {
    text-align: center;
    background: white;
    width: 100%;
    height: max-content;
    overflow: hidden;
}
