title = "Статья"
url = "/article/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "about"

[blogPosts blogPostsWhat]
pageNumber = "{{ :page }}"
categoryFilter = "statya-chto-mne-delat"
postsPerPage = 2
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "article"
postPage = "article"

[blogPosts blogPostsActual]
pageNumber = "{{ :page }}"
categoryFilter = "statya-aktualnoe"
postsPerPage = 4
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "article"
postPage = "article"
==
{% put styles %}
<link href="{{ 'assets/css/pages/article.css'|theme }}" rel="stylesheet">
{% endput %}

{% set posts = blogPostsWhat.posts %}

<section class="topContent article__wrapper">
    <div class="container">
        <div class="marginRight">
            <a href="#" class="topBack">Я беременна?</a>
            <div class="topContainer">
                <div class="topContainer__left">
                    <div class="topQuestion">- {{post.title}}</div>
                    <div class="questionBlock__list">
                        {% for post in posts %}
                        {% for image in post.featured_images|slice(0,1) %}
                        <a href="{{post.url}}" class="questionBlock blueBackGround" style='background-image: url({{ image.path }});'>
                            <p>{{post.title}}</p>
                            <img
                                    src="{{ 'assets/images/mainPage/firstSlide/arrow.png'|theme }}"
                                    alt=""
                            />
                        </a>
                        {% endfor %}
                        {% endfor %}

                    </div>
                </div>
                <div class="topContainer__right">
                    <div class="topContainer__right__image">
                        <img
                                src="{{ 'assets/images/mainPage/firstSlide/firstSlide.png'|theme }}"
                                alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="howDefineContent article__wrapper">
    <div class="container">
        <div class="marginRight">
            <div class="howDefineContent__title">
                {{post.title}}
            </div>
            <div class="firstBlock">
                <div class="firstBlock__left">
                    <div class="firstBlock__left__image">
                        {% for image in post.featured_images|slice(1,2) %}
                        <img src="{{ image.path }}" alt="" />
                        {%else %}
                        <img src="{{ 'assets/images/article/1.png'|theme }}" alt="" />
                        {%endfor%}

                    </div>
                </div>
                <div class="firstBlock__target">
                    {{post.content_html|raw}}
                </div>
            </div>

            <div class="firstBlock">
                <div class="secondBlock__target">
                    {{post.custom_fields.text|raw}}
                </div>

                <div class="secondBlock__left">
                    <div class="secondBlock__wrapper">
                        <div class="secondBlock__line"></div>
                        <div class="secondBlock__text">
                            Любой симптом, характерный для беременности, может оказаться
                            предвестником какого-либо заболевания.
                        </div>
                    </div>
                </div>
            </div>

            <div class="firstBlock__target__title marginTop">
                Вам также может понравится
            </div>
            {% set posts = blogPostsActual.posts %}
            <div class="likeBlock" style="margin-bottom: 114px;">
                {% for post in posts %}
                {% for image in post.featured_images|slice(0,1) %}
                <a href="{{post.url}}" class="questionBlock blueBackGround"
                   style='background-image: url({{ image.path }});'>
                    <p>{{post.title}}</p>
                    <img src="{{ 'assets/images/mainPage/firstSlide/arrow.png'|theme }}" alt="" />
                </a>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>