title = "Для каждого"
url = "/foreach"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "statya-chto-mne-delat"
postsPerPage = 25
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "article"
postPage = "article"

[blogPosts blogPostsActual]
pageNumber = "{{ :page }}"
categoryFilter = "statya-aktualnoe"
postsPerPage = 4
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "article"
postPage = "article"

[contenteditor]
==
{% put styles %}
<!--<link href="{{ 'assets/css/pages/index.css'|theme }}" rel="stylesheet">-->

<link rel="stylesheet" href="{{ 'assets/css/components/ComponentBaner.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/pages/profi.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/pages/forEath.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/all.css'|theme }}">
{% endput %}

<section>

    <section>
        <div class="component_Baner">

            <div class="slider" data-pos="0">
                <div class="slider__slides">
                    <div class="slider__slide"></div>
                    <div class="slider__slide"></div>
                    <div class="slider__slide"></div>
                    <div class="slider__slide"></div>
                </div>
                <div class="slider__dots">
                    <div class="BannerOpt"><img src="{{ 'assets/images/mainPage/actual/ArrowRED.svg'|theme }}" alt=""></div>
                    <span href="#" class="slider__indicator"></span>
                    <span href="#" class="slider__dot" data-pos="0"></span>
                    <span href="#" class="slider__dot" data-pos="1"></span>
                    <span href="#" class="slider__dot" data-pos="2"></span>
                    <span href="#" class="slider__dot" data-pos="3"></span>
                    <div class="BannerOpt"><img src="{{ 'assets/images/mainPage/actual/ArrowRED.svg'|theme }}" alt=""></div>
                </div>
            </div>

        </div>
    </section>

    {% set posts = blogPosts.posts %}

    <section class="secText_0">
        <div class="itemSec_0">
            {% component 'contenteditor' file="foreach/title.htm" fixture="h2" tools="" class="tittleTextS mt0_sd" %}
            {% component 'contenteditor' file="foreach/target.htm" fixture="h3" tools="" class="textH3_0" %}
            <div class="tobeCont">читать далее...</div>
        </div>
        <div class="itemSec_0">
            {% component 'contenteditor' file="foreach/read.htm" fixture="h2" tools="" class="Text_S_0" %}
            <div class="scrollItem">
                {% for post in posts %}
                {% for image in post.featured_images|slice(0,1) %}
                <div class="scrollItem_Box" >
                    <a href="{{post.url}}">
                        <p class="PtextImage">{{post.title}}</p>
                        <img src="{{ image.path }}" alt="">
                    </a>

                </div>
                {% endfor %}
                {% endfor %}



            </div>

        </div>

    </section>


    {% set posts = blogPostsActual.posts %}
    <section>
        <h2 class="tittleTextS pt99px">Новости</h2>
        <div class="actualBlock__main">
            <div class="actualBlock__main__right">
                <div class="actualBlock__main__row ">
                    {% for post in posts|slice(0,2) %}
                    {% for image in post.featured_images|slice(0,1) %}
                    <div class="actualBlock__main__questionBlock red_0_c" style="margin-right: 14px; background-image: url({{ image.path }})">
                        <p>{{post.title}}</p>
                        <div class="actualBlock__main__questionBlock__row">
                            <p>{{post.published_at|date('d.m.Y')}}</p>
                            <img src="{{ 'assets/images/mainPage/actual/Arrow.png'|theme }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="actualBlock__main__row">
                    {% for post in posts|slice(2,4) %}
                    {% for image in post.featured_images|slice(0,1) %}
                    <div class="actualBlock__main__questionBlock red_0_c" style="margin-right: 14px; background-image: url({{ image.path }})">
                        <p>{{post.title}}</p>
                        <div class="actualBlock__main__questionBlock__row">
                            <p>{{post.published_at|date('d.m.Y')}}</p>
                            <img src="{{ 'assets/images/mainPage/actual/Arrow.png'|theme }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="actualBlock__main__left">
                <div class="actualBlock__main__image _anim-items _active">
                    <img src="{{ 'assets/images/mainPage/actual/image.png'|theme }}" alt="">
                </div>
            </div>



        </div>
    </section>






    <section>
        <h2 class="tittleTextS ">Полезные материалы</h2>

        <div class="actualBlock__sliders background__Ping">
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <div class="bookBy_0">
                    <img src="{{ 'assets/images/mainPage/forEath/book.png'|theme }}" alt="">
                </div>
                <p class="textForBook_0">Как выносить и родить здорово...</p>
            </div>




        </div>

    </section>


</section>

{% put scripts %}
<script src="{{ 'assets/js/components/component_baner.js'|theme }}"></script>
{% endput %}