title = "Куда обратиться"
url = "/help"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "MolchanovPetr\Regiony\Models\Region"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "region_name"
noRecordsMessage = "No records found"
detailsPage = "region"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% put styles %}
<link rel="stylesheet" href="{{ 'assets/css/all.css'|theme }}">

<link rel="stylesheet" href="{{ 'assets/css/components/ComponentImageInteractiv.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/components/ComponentContact.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/pages/help.css'|theme }}">

{% endput %}

<div class="boxFor1SectionDiv">
    <section class="topContent">
        <div class="d_0">
            <a class="d_0_link" href="">- Я беременна?</a>

            <h1 class="descriptionTextS h1Help">— Куда обратиться за помощью?</h1>
            <p class="descriptionTextS">Небольшой текстовый блок
                с описанием и информацией
                по данному разделу. Например: Пожалуй, ничто не меняет жизнь женщины так сильно, как беременность. Какие
                бы вопросы, сомнения и страхи не волновали Вас, мы всегда готовы прийти на помощь – в режиме онлайн или
                по телефону.</p>
        </div>




        <div class="d_0">
            <img src="{{ 'assets/images/mainPage/thirdSlide/Image_0.svg'|theme }}" alt="Куда обратиться за помощью?">
        </div>
    </section>


    <section id="sec_2">
        <h2 class="tittleTextS">Государственные меры поддержки</h2>

        <div class="flexBoxS">
            <div class="s_1">
                <p class="helpersTextS s_01">Номера телефонов
                    для всех регинонов РФ:</p>
                <a class="s_03 tittleTextS" href="tel:88001234567">8 (800) 123-45-67</a>
                <a class="s_03 tittleTextS" href="tel:88001234567">8 (800) 123-45-67</a>
                <a class="s_03 tittleTextS" href="tel:88001234567">8 (800) 123-45-67</a>
            </div>
            <div class="s_1">
                <p class="helpersTextS s_02">What’s App <br/> для тех, кто не может позвонить</p>
                <a class="s_03 tittleTextS" href="tel:88001234567">8 (800) 123-45-67</a>
            </div>
        </div>

    </section>


    <section id="sec_3">
        <h2 class="tittleTextS">Поддержка <br/>на федеральном уровне</h2>
        <div class="boxImages">
            <div id="mymap" style="width: 100%; height: 382px"></div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13d8ae2d9546c99d8d68d75a9d760e5cd6358e1f508587a37914935a4b1a3187&amp;id=mymap&amp;lang=ru_RU&amp;scroll=true"></script>

        </div>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



        <div class="felxForLinks_S">
            <div class="itemForLinks_S">
                {% for record in records %}

            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <p class="textForTowns">
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}

                {% if detailsPage %}
                    </a></p>
                {% endif %}
            {% endspaceless %}

    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
            </div>
        </div>
    </section>

</div>

<div class="boxFor1SectionDiv2">


    <section id="sec_4">
        <h2 class="tittleTextS">Не оставайся с проблемой один на один</h2>



        <div class="flexForm">
            <div class="rightForm">
                <form action="" method="post">

                    <div class="formFlexInputs">

                        <div class="itemInpustS">
                            <p for="POST-name">Имя</p>
                            <input id="POST-name" type="text" name="name">
                        </div>

                        <div class="itemInpustS">
                            <p for="POST-Fname">Фамилия</p>
                            <input id="POST-Fname" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">

                        <div class="itemInpustS">
                            <p for="POST-old">Возраст</p>
                            <input id="POST-old" type="number" name="name">
                        </div>

                        <div class="itemInpustS">
                            <p for="POST-phone">Телефон</p>
                            <input id="POST-phone" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">


                        <div class="itemInpustS">
                            <p for="POST-mail">E-mail</p>
                            <input id="POST-mail" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">


                        <div class="itemInpustS castomScrolLine">
                            <p for="POST-description">Сообщение</p>
                            <textarea id="POST-description" type="text" name="name">Расскажите, почему вы решили стать волнтером нашего проекта</textarea>
                        </div>
                    </div>

                    <div class="formFlexInputs">
                        <button class="buttonRequest_S" type="submit" value="Save">Отправить</button>
                    </div>

                </form>
            </div>

            <div class="imagesWrapper_s">
                <img src="{{ 'assets/images/mainPage/secondSlide/Image_2.svg'|theme }}" alt="">
            </div>
        </div>
    </section>


    <section>
        <h2 class="tittleTextS mt0_sd">Читать далее</h2>





        <div class="actualBlock__sliders background__Ping">
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>

            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>
            <div class="actualBlock__sliders__slide">
                <p>Информационное письмо Президента НСОИМ, академи...</p>
            </div>



        </div>

    </section>
</div>