title = "История"
url = "/history/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "history"
==

{% put styles %}
<link rel="stylesheet" href="{{ 'assets/css/all.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/pages/history.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/components/ComponentScrollPeople.css'|theme }}">

{% endput %}



<div class="wrapperSectionHistory__One  debPb__93">
    <section class="topContent">
        <a class="d_0_link" href="">- Я беременна?</a>
        <h1 class="descriptionTextS h1Help">— Истории из жизни</h1>

        <div class="wrapperHistory">
            <div class="wrapperHistoryFles">
                <div class="itemHiscory">
                    <div class="ComponentHiscory_1">
                        {% for image in post.featured_images|slice(0, 1) %}
<!--                        <div>{{image.path}}</div>-->
                        <div class="sliderBlock__slider__slide__image backGroundImage1" style=" background-image: url({{image.path}});"></div>

                        {% endfor %}
                        <div class="pt_27 sliderBlock__slider__slide__name">{{post.title}}</div>
                        <div class="pt_8 sliderBlock__slider__slide__age">{{post.custom_fields.string}}</div>
                        <div class="pt_29 sliderBlock__slider__slide__city">{{post.custom_fields.api_code}}</div>
                    </div>
                </div>
<!--                <div style="display: none" id="link">{{post.custom_fields.text}}</div>-->
                <a class="itemHiscory" id="ahref">
                    {% for image in post.featured_images|slice(1, 2) %}
                    <!--                        <div>{{image.path}}</div>-->
                    <img src="{{image.path}}" alt="">

                    {% endfor %}


                    <video src=""></video>

                </a>
            </div>

            <div class="HistoryContent">
                <h1>{{post.excerpt}}</h1>
                <h2> {{post.content_html|raw}}
                </h2>
            </div>
        </div>



    </section>




    <section>
        {% partial 'history' %}
    </section>
</div>











<div class="wrapperSectionHistory">

    <section class="topContent" id="form">
        <h1 class="descriptionTextS h1Help">— Поделись своей историей</h1>
        <div class="flexForm">
            <div class="leftForm">
                <div class="roundS"></div>
                <p class="addImageS">Добавить фото</p>
                <p class="addImageS">Изменить</p>
            </div>


            <div class="rightForm">


                <form action="" method="post">

                    <div class="formFlexInputs">

                        <div class="itemInpustS">
                            <p for="POST-name">Имя</p>
                            <input id="POST-name" type="text" name="name">
                        </div>

                        <div class="itemInpustS">
                            <p for="POST-Fname">Фамилия</p>
                            <input id="POST-Fname" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">

                        <div class="itemInpustS">
                            <p for="POST-old">Возраст</p>
                            <input id="POST-old" type="number" name="name">
                        </div>

                        <div class="itemInpustS">
                            <p for="POST-phone">Телефон</p>
                            <input id="POST-phone" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">


                        <div class="itemInpustS">
                            <p for="POST-mail">E-mail</p>
                            <input id="POST-mail" type="text" name="name">
                        </div>
                    </div>

                    <div class="formFlexInputs">


                        <div class="itemInpustS castomScrolLine">
                            <p for="POST-description">Сообщение</p>
                            <textarea id="POST-description" type="text"
                                      name="name">Расскажите, почему вы решили стать волнтером нашего проекта</textarea>
                        </div>
                    </div>

                    <div class="formFlexInputs">
                        <button class="buttonRequest_S" type="submit" value="Save">Отправить</button>
                    </div>


                </form>

            </div>

        </div>

    </section>

</div>



{% put scripts %}
<script src="{{ 'assets/js/mainPage/storyScroll.js'|theme }}"></script>
{% endput %}