title = "Главная страница"
url = "/"
layout = "main"
is_hidden = 0

[contenteditor]

[builderList]
modelClass = "MolchanovPetr\Regiony\Models\Region"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "region_name"
noRecordsMessage = "No records found"
detailsPage = "region"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"
==
{% put styles %}
<link href="{{ 'assets/css/pages/index.css'|theme }}" rel="stylesheet">

{% endput %}
<!--    <div style="height: 100vh; background-color: #002e42">f</div>-->

<section class="homePageSlide">
    <div class="container">
        <div class="homePage__content">
            <div class="homePage__content__header">
                <div class="homePage__content__header__left"></div>
                <div class="homePage__content__header__right">
                    <div class="homePage__content__header__right__text _anim-items">
                        {% component 'contenteditor' file="intro/title.htm" %}
                    </div>
                </div>
            </div>
            <div class="homePage__content__main">
                <div
                        class="homePage__content__main__image _anim-items _anim-no-hide"
                >
                    <img src="{{ 'assets/images/mainPage/HomePageImage.png'|theme }}" alt="" />
                </div>

                <div class="homePage__content__main__list">
                    <div class="homePage__content__main__line">
                        <div class="homePage__content__main__line__plus">
                            <img src="{{ 'assets/images/mainPage/homePagePlus.png'|theme }}" alt="" />
                        </div>
                        <div class="homePage__content__main__line__text">
                            Все о <a href="#">беременности</a>
                        </div>
                    </div>
                    <div class="homePage__content__main__line">
                        <div class="homePage__content__main__line__plus">
                            <img src="{{ 'assets/images/mainPage/homePagePlus.png'|theme }}" alt="" />
                        </div>
                        <div class="homePage__content__main__line__text">
                            <a href="#">Поддержка</a> женщин в трудной ситуации
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="firstSlide">
    <div class="container">
        <div class="pregnantSection">
            <div class="pregnantSection__main">
                <div class="pregnantSection__main__left">
                    <p>- Я беременна?</p>
                    <div class="pregnantSection__main__left__image _anim-items">
                        <img
                                src="{{ 'assets/images/mainPage/firstSlide/firstSlide.png'|theme }}"
                                alt=""
                        />
                    </div>
                </div>

                <div class="pregnantSection__main__right">
                    {% partial 'iampregnant' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="secondSlide">
    <div class="container">
        <div class="pregnantSection">
            <div class="pregnantSection__main">
                <div class="pregnantSection__main__left">
                    <p>- Что мне делать?</p>
                    <div class="pregnantSection__main__left__image _anim-items">
                        <img
                                src="{{ 'assets/images/mainPage/secondSlide/secondSlideimage.png'|theme }}"
                                alt=""
                        />
                    </div>
                </div>

                <div class="pregnantSection__main__right">
                    {% partial 'whatShouldIDo' %}

                </div>
            </div>
        </div>
    </div>
</section>

<section class="thirdSlide">
    <div class="container">
        <div class="pregnantSection">
            <div class="pregnantSection__main">
                <div class="pregnantSection__main__left">
                    <p>- У меня трудности</p>
                    <div class="pregnantSection__main__left__image _anim-items">
                        <img
                                src="{{ 'assets/images/mainPage/thirdSlide/thirdSlide.png'|theme }}"
                                alt=""
                        />
                    </div>
                </div>

                <div class="pregnantSection__main__right">
                    {% partial 'problems' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sliderBack">
    <div class="container">
        <div class="sliderBlock">
            <div class="sliderBlock__title">Истории из жизни</div>
        {% partial 'history' %}
        </div>
    </div>
</section>

<section class="actualBlock">
    <div class="container">
        <div class="actualBlock__wrapper">
            <div class="actualBlock__title">Актуальное</div>
            <div class="actualBlock__main">
                <div class="actualBlock__main__left">
                    <div class="actualBlock__main__image _anim-items">
                        <img src="{{ 'assets/images/mainPage/actual/image.png'|theme }}" alt="" />
                    </div>
                </div>
                <div class="actualBlock__main__right">

                    {% partial 'actual' %}
                </div>
            </div>
<!--            <div class="advice">— Советы молодым мамам</div>-->
<!--            {% partial 'story' %}-->

        </div>
    </div>

</section>

<section class="last__section" id="stopScroll">
    <section class="actual__second" >
        <div class="container__new">
            <div class="advice">— Советы молодым мамам</div>

            {% partial 'story' %}
        </div>
        <!--      </div>-->
    </section>
    <section id="sec_3">
        <h2 class="tittleTextS">Поддержка <br/>на федеральном уровне</h2>
        <div class="boxImages">
            <img src="assets/images/map/Image_1.jpg" alt="Поддержка на федеральном уровне" >


        </div>
        
        
        {% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


        
        
       <div class="felxForLinks_S">
            <div class="itemForLinks_S">
                 {% for record in records %}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                <p class="textForTowns">
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}

                {% if detailsPage %}
                    </a></p>
                {% endif %}
            {% endspaceless %}
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
                
            </div>
            
        </div>
    </section>

</section>


{% put scripts %}
<script src="{{ 'assets/js/mainPage/index.js'|theme }}"></script>
<script src="{{ 'assets/js/mainPage/storyScroll.js'|theme }}"></script>
{% endput %}